In [2]:
import pandas as pd

df = pd.read_csv('data/airqo_metadata.csv')

In [9]:
df.columns

Index(['Unnamed: 0', 'location', 'loc_altitude', 'km2', 'aspect',
       'dist_motorway', 'dist_trunk', 'dist_primary', 'dist_secondary',
       'dist_tertiary', 'dist_unclassified', 'dist_residential', 'popn', 'hh',
       'hh_cook_charcoal', 'hh_cook_firewood', 'hh_burn_waste'],
      dtype='object')

In [13]:
df.drop(['Unnamed: 0'], axis=1).head()

,location,loc_altitude,km2,aspect,dist_motorway,dist_trunk,dist_primary,dist_secondary,dist_tertiary,dist_unclassified,dist_residential,popn,hh,hh_cook_charcoal,hh_cook_firewood,hh_burn_waste
0,A,1122.4,1.9,194.0,NaN,NaN,14.695789,343.595039,575.917422,330.609776,254.307415,4763,809,508,43,142
1,B,1155.4,5.4,219.8,NaN,528.078476,2172.680462,1144.376412,531.103271,65.142004,1.042809,22243,5735,116,1144,239
2,C,1178.3,8.5,168.7,NaN,32.885520,4794.704552,12.730489,72.459340,406.967815,13.931350,97895,26873,21316,751,9835
3,D,980.8,0.8,90.0,NaN,NaN,265.896472,NaN,339.693908,76.024389,11.601442,3596,663,7,651,99
4,E,1186.5,1.6,121.0,NaN,850.423131,NaN,1738.872942,137.722087,449.591885,3.836589,6064,1297,985,26,43